@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: local('PT Serif'), local('PTSerif-Regular'),
       url('../fonts/pt-serif-v9-latin-regular.woff2') format('woff2'),
       url('../fonts/pt-serif-v9-latin-regular.woff') format('woff'),
       url('../fonts/pt-serif-v9-latin-regular.ttf') format('ttf');
}


@font-face {
  font-family: 'Pontano Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Pontano Sans'), local('PontanoSans-Regular'),
    url('../fonts/pontano-sans-v5-latin-regular.woff2') format('woff2'),
    url('../fonts/pontano-sans-v5-latin-regular.woff') format('woff'),
    url('../fonts/pontano-sans-v5-latin-regular.ttf') format('ttf');
}


:root {
  --default-screen: 1080;

  --header-text: clamp(
    40px,
    calc((52 / (var(--default-screen) / 100)) * 1vw),
    60px
  );

  --heading-h1: clamp(
    38px,
    calc((42 / (var(--default-screen) / 100)) * 1vw),
    46px
  );
  --heading-h2: clamp(
    32px,
    calc((36 / (var(--default-screen) / 100)) * 1vw),
    40px
  );
  --heading-h3: clamp(
    24px,
    calc((28 / (var(--default-screen) / 100)) * 1vw),
    32px
  );
  --heading-h4: clamp(
    20px,
    calc((24 / (var(--default-screen) / 100)) * 1vw),
    28px
  );
  --heading-h5: clamp(
    18px,
    calc((20 / (var(--default-screen) / 100)) * 1vw),
    24px
  );
  --heading-h6: clamp(
    14px,
    calc((16 / (var(--default-screen) / 100)) * 1vw),
    18px
  );
  --paragraph: clamp(
    16px,
    calc((18 / (var(--default-screen) / 100)) * 1vw),
    18px
  );
  --small: clamp(
    11px,
    calc((1 / (var(--default-screen) / 100)) * 1vw),
    12px
  );
}

h1 {
  font-size: var(--heading-h1);
  margin-bottom: 1em;
  margin-top: 0;
}

h2 {
  font-size: var(--heading-h2);
}

h3 {
  font-size: var(--heading-h3);
}

h4 {
  font-size: var(--heading-h4);
}

h5 {
  font-size: var(--heading-h5);
}

h6 {
  font-size: var(--heading-h6);
}

p,
li,
a,
blockquote,
input,
button {
  font-size: var(--paragraph);
}

small,
.is--meta {
  font-size: var(--small);
}

body,
html {
  font-family: var(--b-font);
  font-style: normal;
  font-weight: var(--f-wght);
  letter-spacing: var(--l-spacing);
  line-height: var(--line-height);
  text-rendering: optimizeLegibility;
  word-spacing: var(--w-spacing);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  --l-spacing: 0;
  --w-spacing: 0;
  color: inherit;
  font-family: var(--h-font);
  font-weight: var(--h-font-wght);
  letter-spacing: var(--l-spacing);
  text-align: var(--h-pos);
  word-spacing: var(--w-spacing);
}

p {
  margin-bottom: 1em;
  overflow-wrap: anywhere;
  white-space: normal;
  word-break: keep-all;

  &.is--indented {
    text-indent: var(--space-unit);
  }
}

.paragraph--heading {
  font-weight: 600;
  line-height: 1;
  margin-bottom: .5rem;
  margin-top: 2.5rem;
}

blockquote {
  background-color: var(--sec-color);
  border-left: 5px solid var(--pri-color);
  border-radius: var(--bor-rad);
  color: var(--f-color);
  font-style: italic;
  font-weight: var(--f-wght);
  margin: 0 0 1rem;
  padding: var(--space-xxs);
}

small {
  font-style: italic;
}

.is--meta {
  opacity: .6;
}

.is--bold,
b,
strong {
  font-weight: 600;
}

.is--italic {
  font-style: italic;
}


@media only screen and (max-width: 49.9rem) {
  body {
    text-rendering: optimizeSpeed;
  }
}
