@charset "utf-8";

:root {
  --pri-color-h: 216;
  --pri-color-s: 98%;
  --pri-color-l: 25%;
  --sec-color-h: 0;
  --sec-color-s: 100%;
  --sec-color-l: 50%;
  --g-color-h: 0;
  --g-color-s: 0%;
  --g-color-l: 99%;
  --f-color-h: 360;
  --f-color-s: 0%;
  --f-color-l: 30%;
  --f-color-inv-h: 180;
  --f-color-inv-s: 0%;
  --f-color-inv-l: 95%;
  --bkgd-color-h: 0;
  --bkgd-color-s: 0%;
  --bkgd-color-l: 100%;
  --blk-color: hsl(0, 0%, 0%);
  --wh-color: hsl(0, 0%, 100%);

  --pri-color: hsl(var(--pri-color-h), var(--pri-color-s), var(--pri-color-l));
  --pri-color-lgt: hsl(var(--pri-color-h), var(--pri-color-s), calc(var(--pri-color-l) / 0.8));
  --pri-color-drk: hsl(var(--pri-color-h), var(--pri-color-s), calc(var(--pri-color-l) * 0.8));
  --sec-color: hsl(var(--sec-color-h), var(--sec-color-s), var(--sec-color-l));
  --sec-color-lgt: hsl(var(--sec-color-h), var(--sec-color-s), calc(var(--sec-color-l) / 0.8));
  --sec-color-drk: hsl(var(--sec-color-h), var(--sec-color-s), calc(var(--sec-color-l) * 0.8));
  --bkgd-color: hsl(var(--bkgd-color-h), var(--bkgd-color-s), var(--bkgd-color-l));
  --bkgd-color-lgt: hsl(var(--bkgd-color-h), var(--bkgd-color-s), calc(var(--bkgd-color-l) / 0.8));
  --bkgd-color-drk: hsl(var(--bkgd-color-h), var(--bkgd-color-s), calc(var(--bkgd-color-l) * 0.8));
  --f-color: hsl(var(--f-color-h), var(--f-color-s), var(--f-color-l));
  --f-color-lgt: hsl(var(--f-color-h), var(--f-color-s), calc(var(--f-color-l) / 0.8));
  --f-color-drk: hsl(var(--f-color-h), var(--f-color-s), calc(var(--f-color-l) * 0.8));
  --f-color-inv: hsl(var(--f-color-inv-h), var(--f-color-inv-s), var(--f-color-inv-l));
  --f-color-inv-lgt: hsl(var(--f-color-inv-h), var(--f-color-inv-s), calc(var(--f-color-inv-l) / 0.8));
  --f-color-inv-drk: hsl(var(--f-color-inv-h), var(--f-color-inv-s), calc(var(--f-color-inv-l) * 0.8));
  --g-color: hsl(var(--g-color-h), var(--g-color-s), var(--g-color-l));
  --g-color-1: hsl(var(--g-color-h), var(--g-color-s), calc(var(--g-color-l) * 0.9));
  --g-color-2: hsl(var(--g-color-h), var(--g-color-s), calc(var(--g-color-l) * 0.8));
  --g-color-3: hsl(var(--g-color-h), var(--g-color-s), calc(var(--g-color-l) * 0.7));
  --g-color-4: hsl(var(--g-color-h), var(--g-color-s), calc(var(--g-color-l) * 0.6));
  --g-color-5: hsl(var(--g-color-h), var(--g-color-s), calc(var(--g-color-l) * 0.5));
  --g-color-6: hsl(var(--g-color-h), var(--g-color-s), calc(var(--g-color-l) * 0.4));
  --g-color-7: hsl(var(--g-color-h), var(--g-color-s), calc(var(--g-color-l) * 0.3));
  --g-color-8: hsl(var(--g-color-h), var(--g-color-s), calc(var(--g-color-l) * 0.2));
  --g-color-9: hsl(var(--g-color-h), var(--g-color-s), calc(var(--g-color-l) * 0.1));
  --font-size-small: 0.85rem;
  --font-size-large: 1.15rem;
}

/* general */

html,
body {
  color: var(--f-color);
}

/* topbar */

.k-topbar {
  background: var(--pri-color);
  color: var(--f-color-inv);
  border-bottom: 1px solid var(--g-color-3);
  height: 3rem;
}

.k-topbar>.k-view,
.k-topbar-wrapper {
  height: 100%;
}

.k-topbar-signals,
.k-topbar-loader {
  background: transparent;
  height: 100%;
}

.k-topbar-loader svg path {
  fill: var(--f-color-inv);
}

.k-topbar-notification {
  margin-right: 2rem;
}

.k-form-indicator-icon {
  color: var(--f-color-inv);
  margin-left: -1.5rem;
}

.k-topbar-wrapper:after {
  background: transparent;
}


.k-form-indicator-toggle {
  color: var(--green-color);
}

.k-form-buttons[data-theme] {
  background: var(--green-color);
}

.k-status-icon .k-icon {
  color: var(--green-color);
}


.k-tab-button[aria-current]:before {
  background: var(--pri-color);
}

.k-login-view form::before {
  content: url('../images/logo.png');
  width: 150px;
}

.k-registration p {
  color: #444;
}
